.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*
** Custom CSS
*/
.jumbotron.ng-scope{
  overflow: hidden;
}
.owner{
  color: #00A000 !important;
}
.guest{
  color: #0b97c4;
}
.forbidden{
  color: #8b8e8a;
}
.container{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.error{
  color: #c63619;
}
.login_container
{
  background-color: transparent;
  background-image: url("https://thumbs.dreamstime.com/x/empreinte-digitale-rouge-14326361.jpg");
  background-repeat:no-repeat;
  background-size: 25%;
 /* margin-top:35%;*/
  margin-bottom:20%;
  margin-left: 20%;
  /*margin-right:20%;*/
  margin-top: 20%;
  transform: translateY(-50%);
  width: 60%;
}
.login_container #login
{
  float: right;
  width: 60%;
}
.login_container #pwd
{
  float: right;
  width: 60%;
}
.login_container #loginlabel
{
  font-size: large;
  margin-left: 25%;
}
.login_container #pwdlabel
{
  font-size: large;
  margin-left: 19%;
}
.login_container h1
{
  color:red;
  margin-left: 35%;
  font-size: xx-large;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 4px 20px;
}
#header.container
{
  background-color:rgba(255, 0, 0, 0.8);
  color: white;
  font-family: "Rage Italic";
  font-size: larger;
  font-weight: bold;
}
#header.container a
{
  color: white;
}
#header.container .active a
{
  background-color: black;
}
.jumbotron h1
{
  color: black;
  margin-bottom: 6%;
  margin-top: auto;
}
.jumbotron h2
{
  color: red  ;
  font-size: xx-large;
  font-weight: bold;
}
.jumbotron
{
  width: 90%;
  margin: auto;
  background-color: white;
}
#projects_dash
{
  border:  3px double black;
  height: 593px;
  margin-top: 15%;
}
#projects_list ul
{
  margin-top:17%;
  background-color: #faebcc	;
  list-style: none;
  margin-right: 5%;
  margin-left: 5%;
  height: 202px;
  overflow-y: scroll;
}
#projects_list ul li
{
  text-align: left;
  margin-bottom: 3%;
  margin-top: 4%;
}
.jumbotron .btn
{
  font-size: 16px;
  padding: 4px 20px;
}
.jumbotron aside
{
  padding-right: 2%;
}
