<div class="jumbotron" ng-controller="MainCtrl">
  <h1>'Allo, 'Allo!</h1>
  <aside class="col-md-4">
    <section id="projects_dash">
      <h1>Projects</h1>
      <div id="projects_list" >
        <ul>
          <li ng-repeat="p in projectsList" ng-class="{owner: p.createdBy.login == user.email, guest: checkForGuest(p), forbidden: (p.createdBy.login != user.email && !checkForGuest(p))}" >{{p.name}}</li>
        </ul>
      </div>
      <button class="btn btn-primary" ng-click="showCreateProjectPopup($event)" >Create New Project</button>
    </section>
  </aside>
  <main class="col-md-8">
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
  </main>
</div>
